h1{
    text-align: center;
    font-size: 60px;
    font-style: italic;
}

img{
    float: right;
}

img#imgOne {  
    width: 600px;
    height: 640px;
    padding-right: 15px;
}

img#imgTwo{
    width: 620px;
    height: 520px;
    padding-right: 2px;
}

img#imgThree{
    width: 620px;
    height: 495px;
    padding-right: 2px;
}

div#content{
    border: 5px solid black;
    border-radius: 10px 80px 10px 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 630px;
}

a#back{
    margin-top: 100px;
    display: block;
    text-align: center;
    font-size: 25px;
}

body {
    background-color: rgb(226, 185, 71);
}

hr{
    border-color: black;
    border-width: 1px;
}